@use '../../styles/' as *;

.cart-item {
  display: flex;
  gap: 20px;
  align-items: center;

  button {
    color: $red;
    cursor: pointer;
    font-size: 20px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  p {
    width: 100%;
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;

    &__img {
      width: 30%;
      aspect-ratio: 3/2;
      border-radius: $rounded-md;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__name {
      text-align: start;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
