@use '../../../../styles/' as *;

.nav-item {
  padding-block: 8px;
  cursor: pointer;
}

.nav-item--active {
  color: $primary;
  border-bottom-style: solid;
  border-bottom-color: $primary;
  border-bottom-width: 2px;
}
