@use '../styles' as *;

.product {
  display: grid;
  gap: 20px;
  grid-template-columns: 60% 40%;

  &__img {
    width: 100%;
    height: 500px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__information {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__title {
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
      color: $primary;
    }
    &__description {
      font-style: italic;
      color: $text;
      font-size: 12px;
      position: relative;
      margin-top: 40px;

      &::before {
        position: absolute;
        top: -20px;
        content: 'Description';
        font-style: normal;
        color: $text-2;
        font-size: 14px;
      }
    }
    &__add {
      width: 200px;
      max-width: 100%;
    }
    &__amount {
      margin-block: 32px 20px;
      @extend .product__information__add;
    }
  }
}
