//color
$primary: #84a98c;
$text: #cad2c5;
$text-2: #2f3e46;
$white: #fff;
$black: #000;
$red: coral;

$header-height: 60px;

//border
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;
$rounded-full: 50%;

//box shadow
$box-shadow-md: 0 0 15px -5px #0000003d;
