@use '../../styles' as *;

.button {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: $rounded-sm;
  text-align: center;
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
.button:not(:disabled) {
  &:hover {
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
  }

  #{&}__primary {
    color: $white;
    background-color: $primary;
  }

  #{&}__outline {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
  }
}
